<!-- <link rel="Stylesheet" href="/css/userProfile.css"> -->
<h3>SocialBook / <%= title %></h3>
<h3>Name: <%= user.name %></h3>
<h3>Name: <%= user.email %></h3>
<a href="/users/logout"><button>logout</button></a>
